<div class="background-gradient devise-flex">
  <div class="navbar-logo margin-left">
    <%= image_tag "logo_white.png" %>
    <p>captivating narratives<br>that lie behind each <br>art piece</p>
  </div>
  <div class="container-s container-devise">
    <h2>Create an Account</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs devise-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :first_name,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "first name" }%>
          <%= f.input :last_name,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "last name" }%>
          <%= f.input :password,
                      required: false,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="devise-center">
          <%= f.button :submit, "Sign up", class: "button-devise" %>
        <% end %>
        </div>
        <div class="devise-center">
          <%= link_to "Log in",  new_user_session_path %>
        </div>
      <%# <%= render "devise/shared/links" %>
    </div>
</div>
