<div class="container conversation" data-controller="conversation-subscription" data-conversation-subscription-conversation-id-value="<%= @conversation.id %>">
  <div class="container-m" data-conversation-subscription-target="messages">
    <% @messages.each do |message| %>
      <% if message.user != current_user %><%= render "conversations/message-1", message: message %><% end %>
      <% if message.user == current_user %><%= render "conversations/message-2", message: message %><% end %>
    <% end %>
  </div>
  <%= simple_form_for [@conversation, @message], html: { data: { action: "turbo:submit-end->conversation-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <div class="container-m">
      <div class="container-message-field">
        <%= f.input :content,
          label: false,
          placeholder: "type ...",
          wrapper_html: {class: "flex-grow-1"}
        %>
        <%= f.button :submit, "SEND", class: "button", style: "margin: auto 0 aut0 10px;"%>
      </div>
    </div>
  <% end %>
</div>
