<div class="container conversation" data-controller="conversation-subscription" data-conversation-subscription-conversation-id-value="<%= @conversation.id %>">
  <div class="container-m" data-conversation-subscription-target="messages">
    <% @messages.each do |message| %>
      <% if message.user != current_user %><%= render "conversations/message-1", message: message %><% end %>
      <% if message.user == current_user %><%= render "conversations/message-2", message: message %><% end %>
    <% end %>
  </div>
  <%= simple_form_for [@conversation, @message], html: { data: { action: "turbo:submit-end->conversation-subscription#resetForm" }, class: "d-flex" } do |f| %>
    <div style="display: flex">
      <%= f.input :content,
        label: false,
        placeholder: "type ...",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <%= f.button :submit, "SEND", class: "button", style: "margin-top: 20px;"%>
    </div>
  <% end %>
</div>
