<% if @artwork.has_details? == false %>
  <div class="container-l">
    <div class="container-edit-artwork">
      <div class="artwork-photo">
        <%= cl_image_tag @artwork.photo.key %>
      </div>
      <div class="artwork-infos">
        <h2><%= @artwork.title %></h2>
        <%= simple_form_for(@artwork) do |f| %>
          <%= f.input :title %>
          <%= f.input :description %>
          <%= f.input :style, as: :select, collection: Artwork::STYLES %>
          <div style="display: flex; margin: 25px 0;">
            <%= f.button :submit, @artwork.has_details? ? "Update Canvas" : "Update Artwork" ,class: "button", style: "margin: 20px auto 0 auto;"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if @artwork.has_details? %>
  <div class="container-m pb-0">
    <div class="text-center mb-2">
      <h2><%= @artwork.title %></h2>
    </div>
    <div class="artwork-map-container">
      <%= cl_image_tag @artwork.photo.key, style: "position: relative", class: "artwork-map" %>
      <% ArtDetail::COORDINATE_COUNT.times do |x| %>
        <% ArtDetail::COORDINATE_COUNT.times do |y| %>
          <%= render "users/empty_art_detail_marker", artwork: @artwork, x_index: x, y_index: y %>
        <% end %>
      <% end %>
      <% @artwork.art_details.each do |art_detail| %>
        <%= render "users/art_detail_marker", art_detail: art_detail %>
      <% end %>
    </div>

  </div>
  <div class="container-m px-1">
    <%= simple_form_for(@artwork) do |f| %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :style, as: :select, collection: Artwork::STYLES %>
      <div style="display: flex; margin: 25px 0;">
        <%= f.button :submit, @artwork.has_details? ? "Update Canvas" : "Update Artwork" ,class: "button", style: "margin: 20px auto 0 auto;"%>
      </div>
    <% end %>
  </div>
<% end %>
