<div class="container-l">
  <div class="container-edit-artwork">
    <div class="artwork-photo">
      <%= cl_image_tag @canvas.photo.key %>
    </div>
    <div class="artwork-infos">
      <h2><%= @canvas.title %></h2>
      <%= simple_form_for(@canvas) do |f| %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :style, as: :select, collection: Artwork::STYLES %>
        <div style="display: flex; margin: 25px 0;">
          <%= f.button :submit, class: "button", style: "margin: 20px auto 0 auto;"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
