<div data-controller="pop-up">
  <div data-action="click->pop-up#showPopup" >
    <div class="empty-marker" style="position: absolute; left: calc(<%= x_index %> * (100% - 15px) / <%= ArtDetail::COORDINATE_COUNT - 1 %>); bottom: calc(<%= y_index %> * (100% - 15px) / <%= ArtDetail::COORDINATE_COUNT - 1 %>);"></div>
  </div>
  <div class="detail-popup" data-pop-up-target="box" style="position: absolute; left: calc(<%= x_index %> * (100% - 15px) / <%= ArtDetail::COORDINATE_COUNT - 1 %> + 30px); bottom: calc(<%= y_index %> * (100% - 15px) / <%= ArtDetail::COORDINATE_COUNT - 1 %> + 30px);">
    <div style="text-align: center;">
      <%= simple_form_for @art_detail, url: artwork_art_details_path(artwork), method: :post do |f| %>
        <%= f.input :title, label: false, wrapper_html: {style: "width: 100%;"} %>
        <%= f.input :description, label: false, wrapper_html: {style: "width: 100%;"} %>
        <%= f.hidden_field :x_value, value: x_index %>
        <%= f.hidden_field :y_value, value: y_index %>
      <div class="form-group" style="display: flex; margin: 25px 0;">
        <%= f.button :submit, "Save", class: "button", style: "margin: 20px auto 0 auto;"%>
      </div>
      <% end %>
    </div>
    <span class="close" data-action="click->pop-up#closePopup">&times;</span>
  </div>
</div>
