<div class="devise-flex">
  <div>
    <%= link_to root_path, class: "homepage-logo" do %>
      <%= image_tag "logo_white.png" %>
    <% end %>
  </div>
  <div class="warm-gray-container-600">
    <h2>Welcome to Regal Art.</h2>
    <p>Please tell us more about your favourite art styles, this will help us introduce you to the artists who might be more relevant to you.</p>
    <div class="style-box">
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Realism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Impressionism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Expressionism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Cubism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Surrealism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Abstract</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Realism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Impressionism</button>
      <button class="style-button" data-controller="toggle-button" data-toggle-button-target="button" data-action="click->toggle-button#toggle">Expressionism</button>
    </div>
    <div class="devise-center mt-5">
      <%= link_to "Look at Artists",  discover_path, class: "button" %>
    </div>

    <%= simple_form_for [current_user, @preference] do |f| %>
      <%= f.input :style, as: :check_boxes, collection: Preference::STYLES, label: "Select" %>
      <%= f.button :submit %>
    <% end %>
</div>
