<div class="devise-flex">
  <div>
    <%= link_to root_path, class: "homepage-logo" do %>
      <%= image_tag "logo_white.png" %>
    <% end %>
  </div>
  <div class="warm-gray-container-600">
    <h2>Welcome to Regal Art.</h2>
    <p>Please tell us more about your favourite art styles, this will help us introduce you to the artists who might be more relevant to you.</p>

    <%= simple_form_for [current_user, @preference], label: false, legend: false do |f| %>
      <div class="style-box">
      <%= f.input :style, as: :check_boxes,
                  collection: Preference::STYLES,
                  label: false,
                  wrapper: false,
                  input_html: { class: 'style' } %>
      </div>
      <div class="devise-center mt-5">
      <%= f.button :submit, value: "Explore your artists", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
