<div class="container-full">
  <div class="artist-buttons">
    <%= link_to "Artist Journey", user_path(@artist), class: "button btn-artist" %>
    <%= link_to "Connect", user_path(@artist), class: "button btn-artist" %>
  </div>
</div>
<div class="container-l">
  <div class="container-artist-bio">
    <%= cl_image_tag @artist.avatar.key, class: "avatar" %>
    <div class="bio">
      <h2><%= @artist.short_bio %></h2>
      <p><%= @artist.long_bio %></p>
    </div>
  </div>
  <div class="artworks-grid">
    <% @artist.artworks.each do |artwork| %>
      <div class="artwork-card">
        <%= cl_image_tag artwork.photo.key, class: "artwork-card-img" %>
      </div>
    <% end %>
  </div>
</div>
