<% unless @hide_artist_buttons %>
  <div class="artist-btn-box">
    <div class="artist-btn">Artist Journey</div>
    <% if Subscription.find_by(buyer: current_user, artist: @artist) %>
      <%= link_to "Connected <i class='fa-solid fa-check'></i>".html_safe, root_path, class: "artist-btn" %>
    <% else %>
      <!-- does not work, check on monday -->
      <%= simple_form_for @subscription, url: user_subscriptions_path(@artist), method: :post do |f| %>
        <%= f.button :submit, "Connect", class: "artist-btn" %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%# <div class="container-full">
  <div class="artist-buttons"> %>
    <%#= link_to "Artist Journey", user_path(@artist), class: "button btn-artist" %>
    <%#= link_to "Connect", user_path(@artist), class: "button btn-artist" %>
  <%# </div> %>
<%# </div> %>
<div class="container-l">
  <div class="container-artist-bio">
    <%= cl_image_tag @artist.avatar.key, class: "avatar", style: "opacity: 1;" %>
    <div class="bio">
      <h2><%= @artist.short_bio %></h2>
      <p><%= @artist.long_bio %></p>
    </div>
  </div>
</div>

<%= render "shared/video_card" %>

<div class="container-l">
  <h2>Discover the Artist's Latest Artistic Endeavors</h2>
  <%= render "shared/carousel" %>
</div>

<%= render "users/banner_aubergine", artworks: @artist.artworks.where(has_details: false) %>

<div class="container-l mt-5">
  <h2>Explore an Artwork</h2>
</div>
<div class="container-m" style="padding: 0 0 120px 0;">
  <div class="artwork-map-container">
    <%= cl_image_tag @artist.artworks.where(has_details: true).first.photo.key, style: "position: relative", class: "artwork-map" %>
    <% @artist.artworks.where(has_details: true).first.art_details.each do |art_detail| %>
      <%= render "users/art_detail_marker", art_detail: art_detail %>
    <% end %>
  </div>
</div>
