<% unless @hide_artist_buttons %>
  <div class="artist-btn-box">
    <div class="artist-btn">Artist Journey</div>
    <% if @subscription %>
      <%= link_to "Connected <i class='fa-regular fa-check'></i>".html_safe, subscription_path(@subscription), data: { turbo_method: :delete }, class: "artist-btn" %>
      <% if @conversation %>
        <%= link_to "<i class='fa-regular fa-message'></i>".html_safe, conversation_path(@conversation), class: "artist-btn-message" %>
      <% else %>
        <%= link_to "<i class='fa-regular fa-message'></i>".html_safe, user_conversations_path(@artist), data: { turbo_method: :post }, class: "artist-btn-message" %>
      <% end %>
    <% else %>
    <%= link_to "Connect", user_subscriptions_path(@artist), data: { turbo_method: :post }, class: "artist-btn" %>
    <% end %>
  </div>
<% end %>

<%# <div class="container-full">
  <div class="artist-buttons"> %>
    <%#= link_to "Artist Journey", user_path(@artist), class: "button btn-artist" %>
    <%#= link_to "Connect", user_path(@artist), class: "button btn-artist" %>
  <%# </div> %>
<%# </div> %>
<div class="container-l">
  <div class="container-artist-bio">
    <%= cl_image_tag @artist.avatar.key, class: "avatar", style: "opacity: 1;" %>
    <div class="bio">
      <h2><%= @artist.short_bio %></h2>
      <p><%= @artist.long_bio %></p>
    </div>
  </div>
</div>

<!-- make this a shared component? -->
<div class="video-box">
  <%= video_tag("video_1.mp4", id: "video-background", controls: false, autoplay: true, muted: true, loop: true) %>
  <div class="video-card">
    <h2>Transcendence: Exploring the Boundaries of Reality</h2>
    <p>In this captivating artist project, the artist's unique vision comes to life with a compelling blend of creativity and skill. Drawing from personal experiences and a deep well of inspiration, the artist delves into the intricacies of human emotion and the human condition. Through a masterful use of color, texture, and form, the project immerses viewers in a world of raw and unfiltered expression. It's a testament to the artist's ability to distill complex ideas into visual storytelling, offering a profound and thought-provoking experience that lingers long after one has encountered their work.</p>
  </div>
</div>

<div class="container-l">
  <h2>Discover the Artist's Latest Artistic Endeavors</h2>
  <%= render "shared/carousel" %>
</div>

<%= render "users/banner_aubergine", artworks: @artist.artworks.where(has_details: false) %>
<div class="container-l">
  <h2>Explore an Artwork</h2>
</div>
<div class="container-m" style="padding: 0 0 120px 0;">
  <div class="artwork-map-container">
    <%= cl_image_tag @artist.artworks.where(has_details: true).first.photo.key, style: "position: relative", class: "artwork-map" %>
    <% @artist.artworks.where(has_details: true).first.art_details.each do |art_detail| %>
      <%= render "users/art_detail_marker", art_detail: art_detail %>
    <% end %>
  </div>
</div>
