<div class="container-l">
  <div class="events-box">
    <% @events.each_with_index do |event, index| %>
      <% if index.odd? %>
       <div class="event-card">
          <%= cl_image_tag event.photos.first.key %>
          <div class="text">
            <h4><%= event.title %></h4>
            <div class="my-artist-name">
              <p>By</p>
              <p><%= event.user.first_name %></p>
              <p><%= event.user.last_name %></p>
          </div>
          <% date_str = Time.parse((event.start_date).to_s) %>
          <p class="event-date"><%= date_str.strftime("%A, %B %d, %Y") %></p>
        </div>
        <div class="event-btn"><%= link_to "Details", event_path(event), style: "text-decoration:none;"%></div>
      </div>
      <% else %>
        <div class="event-card-sm">
        <div class="text">
          <h4><%= event.title %></h4>
          <div class="my-artist-name">
            <p>By</p style="color: white">
            <p><%= event.user.first_name %></p>
            <p><%= event.user.last_name %></p>
          </div>
            <% date_str = Time.parse((event.start_date).to_s) %>
            <p class="event-date"><%= date_str.strftime("%A, %B %d, %Y") %></p>
        </div>
        <div class="event-btn"><%= link_to "Details", event_path(event), style: "text-decoration:none;"%></div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
