<div class="container-l">
  <div class="white-button"><%= link_to "+ add event", new_event_path, style: "text-decoration: none;"%></div>
  <div class="events-box">
    <% @events.each_with_index do |event, index| %>
        <div class="event-card">
          <div class="event-icons">
            <%= link_to "<i class='fa-regular fa-circle-xmark'></i>".html_safe, event_path(event), data: {turbo_method: :delete, turbo_confirm: "This event has #{event.event_attendances.count} confirmed attendants. Are you sure you want to cancel this event?"}, class:"delete-btn" %>
            <%= link_to "<i class='fa-regular fa-pen-to-square'></i>".html_safe, edit_event_path(event), class:"edit-btn" %>
          </div>
          <%= cl_image_tag event.photos.first.key %>
        <div class="text">
          <h4><%= event.title %></h4>
          <div class="my-artist-name">
            <p>By</p>
            <p><%= event.user.first_name %></p>
            <p><%= event.user.last_name %></p>
          </div>
          <% date_str = Time.parse((event.start_date).to_s) %>
            <p class="event-date"><%= date_str.strftime("%A %d %B, %Y") %></p>
        </div>
        <div class="white-button"><%= link_to "Details", event_path(event), style: "text-decoration:none;"%></div>
        <div class="attendance-icon"><p><%= event.event_attendances.count %></p><i class="fa-solid fa-user"></i></div>
      </div>
    <% end %>
  </div>
</div>
