<div class="container-l">
  <div class="event-deets-container">
    <div class="event-contents">
      <div class="event-top-img">
        <%= cl_image_tag @event.photos.first.key %>
      </div>
      <div class="event-title-desc">
        <h1><%= @event.title %></h1>
        <p><%= @event.description %></p>
      </div>
      <hr>
      <div class="event-artist-card">
        <div class="artist-header">
          <div class="artist-name">
            <h2><%= "#{@event.user.first_name} #{@event.user.last_name}" %></h2>
            <span><%= @event.user.short_bio %></span>
          </div>
          <%= cl_image_tag @event.user.avatar.key %>
        </div>
      </div>
    </div>
    <div class="event-contents-2">
     <div class="event-details">
        <h4><%= @event.title %> - <%= @event.user.first_name %> <%= @event.user.last_name %></h4>
        <hr>
        <p><i class="fa-solid fa-location-dot">&nbsp&nbsp</i><%= @event.location %></p>
        <% date_str = Time.parse((@event.start_date).to_s) %>
        <p><i class="fa-regular fa-calendar-days">&nbsp&nbsp</i><%= date_str.strftime("%A, %B %d, %Y") %></p>
        <p><i class="fa-solid fa-clock">&nbsp&nbsp</i><%= @event.start_date.strftime("%I:%M %p") %> - <%= @event.end_date.strftime("%I:%M %p") %></p>


        <div data-controller="pop-up">
          <div class="white-button" data-action="click->pop-up#showPopup" >
            <% if EventAttendance.find_by(user: current_user, event: @event) %>
              <%= link_to "Joined", event_path(@event), style: "text-decoration:none;" %>
            <% else %>
              <%= link_to "Join the Event", event_path(@event), style: "text-decoration:none;" %>
            <% end %>
          </div>
          <div class="popup" data-pop-up-target="box">
            <h4>Event Registration</h4>
            <p>Thank you for your interest in this event. Please fill out the form below to register.</p>
            <div>
              <%= simple_form_for [@event, @event_attendance] do |f| %>
                <%= f.input :message %>
                <%= f.input :attendees %>
              <div class="form-group" style="display: flex;">
                <%= f.button :submit, "Confirm", class: "button", style: "margin-top: 20px;"%>
              </div>
              <% end %>
            </div>
            <span class="close" data-action="click->pop-up#closePopup">&times;</span>
          </div>
        </div>



    </div>
    <div style="width: 100%; height: 100%; border-radius: 5px"
      data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
