<div class="container-l">
  <div class="analytics-intro">
    <%# <h1>Analytics</h1>
    <p>Here you can find all the data you need to make informed decisions about your events and your audience.</p> %>
    <div>
      <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
      <%# <%= cl_image_tag @user.avatar.key %>
      <p><%= @user.short_bio %></p>
    </div>
    <div class="interactions-container">
      <div class="analytics-box">
        <p>Connections</p>
        <h4><%= @subscribers %></h4>
      </div>
      <div class="analytics-box">
        <p>Events</p>
        <h4><%= @events %></h4>
      </div>
      <div class="analytics-box">
        <p>Conversations</p>
        <h4><%= @conversations %></h4>
      </div>
    </div>
  </div>
  <div class="growth-rate-box">
    <div class="growth-rate">
      <p><i class="fa-solid fa-chart-line"></i></p>
      <h3><%= @subscriber_growth_rate %>%</h3>
      <p>Connections Growth Rate (90 days)</p>
    </div>
    <div class="growth-rate">
      <p><i class="fa-solid fa-chart-line"></i></p>
      <h3><%= @conversations_growth_rate %>%</h3>
      <p>Conversations Growth Rate (90 days)</p>
    </div>
  </div>

  <div class="chart container-m">
    <h4>Gained Subscriptions Per Week</h4>
    <br>
    <%= line_chart Subscription.group_by_week(:created_at).count%>
  </div>
  <div class="chart container-m">
    <h4>Average Number of Attendees per Event</h4>
    <br>
    <%= column_chart @renamed_hash, library: { title: 'Monthly Data' } %>
  </div>
  <div class="chart container-m">
    <h3>Percentage of Connections turned into Conversations</h3>
    <br>
    <%= pie_chart User.group(:location).count %>
  </div>
  <h2>Views</h2>
</div>
