<div class="container-l">
  <div class="analytics-intro">
    <div>
      <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
      <p><%= @user.short_bio %></p>
    </div>
    <div class="interactions-container">
      <div class="analytics-box">
        <p>Connections</p>
        <h4><%= @subscribers %></h4>
      </div>
      <div class="analytics-box">
        <p>Events</p>
        <h4><%= @events %></h4>
      </div>
      <div class="analytics-box">
        <p>Conversations</p>
        <h4><%= @conversations %></h4>
      </div>
    </div>
  </div>
  <div class="growth-rate-box">
    <div class="growth-rate">
      <p><i class="fa-solid fa-chart-line"></i></p>
      <h3><%= @subscriber_growth_rate %>%</h3>
      <p>Connections Growth Rate (90 days)</p>
    </div>
    <div class="growth-rate">
      <p><i class="fa-solid fa-chart-line"></i></p>
      <h3><%= @conversations_growth_rate %>%</h3>
      <p>Conversations Growth Rate (90 days)</p>
    </div>
  </div>
  <h4 class="mt-4">New Connections Per Week</h4>
  <div class="chart container-l">
    <br>
    <%= line_chart Subscription.group_by_week(:created_at).count, download: {background: "#ffffff", filename: "Gained Connections per Week" } %>
  </div>
  <hr>
  <div class="chart-box container-l">
    <div>
      <h4>Average Number of Attendees per Event</h4>
      <div class="chart">
        <br>
        <%= column_chart @average_attendances_per_month, download: {background: "#ffffff", filename: "Average Number of Attendees per Event"} %>
      </div>
    </div>
    <div>
      <h4>Connections Turned into Conversations</h4>
      <div class="chart">
        <br>
        <%= pie_chart @pie_chart_data, download: {background: "#ffffff", filename: "Connections turned into Conversations"} %>
      </div>
    </div>
  </div>
</div>
