<div class="homepage-logo">
  <%= image_tag "logo_white.png" %>
  <%# <p>captivating narratives<br>that lie behind each <br>art piece</p> %>
</div>

<div class="homepage-container">
  <div class="homepage-col top-20">
    <div class="homepage-card">
      <%= image_tag("user1_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user2_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user3_avatar.jpg") %>
    </div>
  </div>

  <div class="homepage-col top-120">
    <div class="homepage-card">
      <%= image_tag("user4_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user5_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user1_avatar.jpg") %>
    </div>
  </div>

  <div class="homepage-col top-200">
    <div class="homepage-card">
      <%= image_tag("user2_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user3_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user4_avatar.jpg") %>
    </div>
  </div>

  <div class="homepage-col top-150">
    <div class="homepage-card">
      <%= image_tag("user5_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user1_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user1_avatar.jpg") %>
    </div>
  </div>

  <div class="homepage-col top-90">
    <div class="homepage-card">
      <%= image_tag("user2_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user3_avatar.jpg") %>
    </div>
    <div class="homepage-card">
      <%= image_tag("user4_avatar.jpg") %>
    </div>
  </div>
</div>

<div class="black-wrapper" data-controller="push-up">
  <div class="wrapper-btns">

    <div class="homepage-btn" data-push-up-target="journey" data-action="click->push-up#hideAndPush">
      <h1>Start your journey</h1>
      <i class="fa-solid fa-angle-down fa-2xl"></i>
    </div>

    <div class="login-signup-box" data-push-up-target="loginSignup">
      <a href="users/sign_up"><div class="signup-btn">
        <i class="fa-solid fa-angle-down fa-rotate-90 fa-2xl"></i>
        <h2>Sign up</h2>
      </div></a>
      <a href="users/sign_in"><div class="login-btn">
        <h2>Log in</h2>
        <i class="fa-solid fa-angle-down fa-rotate-270 fa-2xl"></i>
      </div></a>
    </div>

  </div>
  <div class="black-veil" data-push-up-target="blackveil"></div>
</div>

<div class="purple-veil"></div>
