<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.png", rel: "icon", type: "image/png" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="body-container">
      <div>
        <% unless @hide_nav_footer || (params[:controller].match(/devise/) && action_name != "edit") %>
          <% if current_user.is_artist? %>
            <%= render "shared/navbar_artist", title: @title, banner: @banner %>
          <% end %>
          <% if current_user.is_artist == false %>
            <%= render "shared/navbar_buyer", title: @title, banner: @banner %>
          <% end %>
        <% end %>

        <%= render "shared/flashes" %>
      </div>
      <%= yield %>
      <% unless @hide_nav_footer || (params[:controller].match(/devise/) && action_name != "edit") %>
        <%= render "shared/footer" %>
      <% end %>
    </div>
  </body>
</html>
